<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <display-name>RailwayCrossingApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.user.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllCrossingServlet</display-name>
    <servlet-name>AllCrossingServlet</servlet-name>
    <servlet-class>com.user.AllCrossingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCrossingServlet</servlet-name>
    <url-pattern>/allcrossing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFavorite</display-name>
    <servlet-name>AddFavorite</servlet-name>
    <servlet-class>com.user.AddFavorite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFavorite</servlet-name>
    <url-pattern>/addfavorite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoriteCrossing</display-name>
    <servlet-name>FavoriteCrossing</servlet-name>
    <servlet-class>com.user.FavoriteCrossing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteCrossing</servlet-name>
    <url-pattern>/favoriteCrossing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFavorite</display-name>
    <servlet-name>RemoveFavorite</servlet-name>
    <servlet-class>com.user.RemoveFavorite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFavorite</servlet-name>
    <url-pattern>/removefavorite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.user.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHome</display-name>
    <servlet-name>AdminHome</servlet-name>
    <servlet-class>com.admin.AdminHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCrossing</display-name>
    <servlet-name>AddCrossing</servlet-name>
    <servlet-class>com.admin.AddCrossing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCrossing</servlet-name>
    <url-pattern>/AddCrossing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCrossing</display-name>
    <servlet-name>DeleteCrossing</servlet-name>
    <servlet-class>com.admin.DeleteCrossing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCrossing</servlet-name>
    <url-pattern>/deleteCrossing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCrossing</display-name>
    <servlet-name>UpdateCrossing</servlet-name>
    <servlet-class>com.admin.UpdateCrossing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCrossing</servlet-name>
    <url-pattern>/UpdateCrossing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updated</display-name>
    <servlet-name>Updated</servlet-name>
    <servlet-class>com.admin.Updated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updated</servlet-name>
    <url-pattern>/Updated</url-pattern>
  </servlet-mapping>
</web-app>